body {
    text-align: center;
    background: url('gravel.png');
    font-family: 'Khand', sans-serif; 
}
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal-body {
    width: 50%;
    height: 275px;
    background: #ffffff;
    transform: translate(50%,90%);
    background: url('gravel.png');
    border: 2px solid;
}

.modal-title {
    padding-top: 2rem;
}

.modal-button {
    margin-top: 4rem;
}

.cancel {
    margin-top: 4rem;
}

.hide {
    display: none;
}

